<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>Title</title>
    <!--<link rel="stylesheet" href="http://localhost:8080/arcgis_js_api/4.5/esri/css/main.css">-->
    <link rel="stylesheet"href="https://js.arcgis.com/4.5/esri/css/main.css">
    <style>
        html,
        body,#viewDiv{
            padding:0;
            margin: 0;
            width:100%;
            height:100%;
        }
        #info {
            padding-bottom: 0;
        }
    </style>
    <script>
        var locationPath = location.pathname.replace(/\/[^\/]+$/, "");
        var rootPath = locationPath.substr(0, locationPath.substr(1).indexOf("/") + 1);
        window.dojoConfig = {
            deps: ["ts/TDT/TDTTileLayer"],
            packages: [
                {
                    name: "ts",
                    location: rootPath + "/src/ts"
                }
            ]
        };
    </script>
</head>
<body>
<div>
    <label id="info">info</label>
</div>

<div id="viewDiv"></div>

<!--<script src="http://localhost:8080/arcgis_js_api/4.5/init.js"></script>-->
<script src="https://js.arcgis.com/4.5"></script>
</body>
</html>