<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>内容面板</title>
    <link rel="stylesheet" href="http://localhost:8080/arcgis_js_api/4.5/dijit/themes/tundra/tundra.css">
    <link rel="stylesheet" href="http://localhost:8080/arcgis_js_api/4.5/esri/css/main.css">
    <script>
        var locationPath = location.pathname.replace(/\/[^\/]+$/, "");
        var rootPath = locationPath.substr(0, locationPath.substr(1).indexOf("/") + 1);
        window.dojoConfig = {
            deps: ["ts/webgis/webgisWidget"],
            packages: [
                {
                    name: "ts",
                    location: rootPath + "/src/ts"
                }
            ]
        };
    </script>
</head>
<body class="tundra">
<div data-dojo-type="dijit/layout/ContentPane" style="height:200px;float:left">
    <div id="someinfo" data-dojo-type="dijit/form/Button">相关信息</div>
    <script type="dojo/on" data-dojo-event="click" data-dojo-args="evt">
        makeAboutBox();
    </script>
</div>

<!---load script here-->
<script src="http://localhost:8080/arcgis_js_api/4.5/init.js"  ></script>

</body>
</html>